*{ /*aplicará a todo lo que sea html*/
    margin: 0; /*margen*/
    padding: 0;
}

html, body{
    left: 0;
    top: 0;
    height: 100%; /*alto*/
    width: 100%; /*ancho*/
    background-color: #090E11; /*COLOR DEL FONDO PRINCIPAL*/ 
}


/*ESTO ES PARA PARTIR EN DOS EL CONTENEDOR GRANDE*/
.grande{
    width:100%;
    display: flex;
    
}



/*izquierdo*/
.cizquierdo{
    position: relative;
    width:  42.1%;
    background: #131C21;
    margin-top: 1.3%;
    margin-left: 4.7%;
    
}
.cchats{ /**/
    position: relative;
    background: #131C21;
    width:  98.2%;
    height: 100%;
    
    text-align: center;
    color: #D9D9DB;
    
    font-family: sans-serif;  

    
} 
/*.cbusqueda{
    width: 100%;
	height: 40px;
	border: none;
	outline: none;
    border-radius: 17px;
    border: 1px solid #3B4859;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}*/



/*derecho*/
.cderecho{
    position: relative;
    width: 100%;
    background: #262D31;
    margin-top: 1.3%;
    margin-right: 4.6%;
    text-align: center;
    color: #D9D9DB;
    
    font-family: sans-serif;

}






.linea1{ /*esto es para una LINEA o BARRA*/
    border: 0;
    border-top: 1px solid #999; 
    border-bottom: 2px solid #333;
    height:0;
    margin-left: 26%;
    margin-right: 25%;
}
.linea2{ /*esto es para una LINEA o BARRA*/
    border: 0;
    border-top: 5px solid #097B71; 
    height:0;
    margin-left: 0%;
    margin-right: 0%;
}
.linea3{ /*esto es para una LINEA o BARRA*/
    border: 0;
    border-top: 1px solid #999; 
    border-bottom: 2px solid #333;
    height:0;
    margin-left: 1.5%;
    margin-right: 0%;
}
